body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 80%;
    margin: auto;
    display: flex;
}

.header {
    background: url(img/top-banner.png) no-repeat;
    background-size: cover;

    .image {
        margin-left: auto;
    }
}

.content {
    width: 40%;

    h1 {
        font-size: 50px;
        font-weight: 700;

        span {
            color: orange;
        }
    }

    .btn {
        color: #ffffff;
        text-decoration: none;
        background: linear-gradient(45deg, lightsalmon, tomato);
        padding: 10px 30px;
        border-radius: 5px;
        text-transform: uppercase;
    }
}

.image {
    width: 40%;

    img {
        width: 100%;
    }
}

.dream {
    margin-top: 150px;

    .content {
        margin-left: auto;
    }

    .image {
        margin-right: auto;
    }
}

.exprience_sec {
    margin: 150px 0;
    background: url(img/exp-bg.png) no-repeat;
    background-position: left;

    .box {
        display: flex;

        .box_item {
            width: 40%;
            float: left;
            margin-left: 5%;
            padding-left: 2%;
            box-shadow: 5px 7px 40px grey;
            border-radius: 5px;
            border-left: 5px solid rebeccapurple;

            h3 {
                color: orange;
            }
        }
    }
}